<a href="https://colab.research.google.com/github/jaunty009/Assignment_3/blob/main/april1%2C2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = "  python  is  cool  "

def remove_spaces(a):
    res = ""
    char = 0
    while char < len(a):
        if ord(a[char]) == 32:

            if char + 1 < len(a) and ord(a[char + 1]) == 32:
                char += 1
                continue
        res += a[char]
        char += 1
    return res

print(remove_spaces(a))

 python is cool

In [15]:
 def main():
     s = 'PythonIsCool'
     T = ''
     for i in range(len(s)):
         if 65 <= ord(s[i]) <= 90:
             if i != 0:
                 T += " "
             T += chr(ord(s[i]))
         else:
             T += s[i]
     print(T)

 main()

Python Is Cool

In [14]:
t = ' python is   cool '

def to_upper(t):
    re = ''
    for i in range(len(t)):
        ascii_val = ord(t[i])
        if 97 <= ascii_val <= 122:
            upp = ascii_val - 32
            re += chr(upp)
        else:
            re += t[i]
    return re

print(to_upper(t))

 PYTHON IS   COOL

In [3]:
text = "There are 24 apples and 12 apples"
number = ""
for char in text:
    if '0' <= char <= '9':
        number += char
    else:
        if number != "":
            print(number)
            number = ""
if number != "":
    print(number)

24
12

In [37]:
email = "test@example.com"
ends_with_com = False
has_at_symbol = False

for i in range(len(email)):
    if email[i:] == '.com' and '@' in email:
        ends_with_com = True
        has_at_symbol = True
        break
if ends_with_com and has_at_symbol:
    print("valid email")
else:
    print("invalid email")

valid email

In [23]:
def calculator(operation, *args):
    if operation == "add":
        return sum(args)

    elif operation == "subtract":
        result = args[0]
        for num in args[1:]:
            result -= num
        return result

    elif operation == "multiply":
        result = 1
        for num in args:
            result *= num
        return result

    elif operation == "divide":
        result = args[0]
        for num in args[1:]:
            if num != 0:
                result /= num
            else:
                return "Cannot divide by zero"
        return result

    else:
        return "Invalid operation"

print(calculator("add", 2,4,5))
print(calculator("subtract", 500,50,25))
print(calculator("multiply", 3,4,5))
print(calculator("divide", 100,5,2))

11
425
60
10.0

In [12]:
def find_capitals(sentence):
  words = sentence.split(" ")
  capital_words = []
  for i in range(len(words)):
    if 'A' <= words[i][0] <= 'Z':
      capital_words.append(words[i])
  return capital_words

sentence = "Today is Good Day"
print(find_capitals(sentence))

['Today', 'Good', 'Day']

In [49]:
# Define calculator operations using lambda functions
calculator = {
    'add': lambda x, y: x + y,
    'sub': lambda x, y: x - y,
    'mul': lambda x, y: x * y,
    'div': lambda x, y: x / y if y != 0 else "Error: Cannot divide by zero"
}

# Display menu
print("Simple Calculator using Lambda Functions")
print("Available operations: add, sub, mul, div")

# Get user input
operation = input("Enter operation (add/sub/mul/div): ")
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Perform operation
if operation in calculator:
    result = calculator[operation](num1, num2)
    print("Result:", result)
else:
    print("Invalid operation")

Simple Calculator using Lambda Functions
Available operations: add, sub, mul, div
Enter operation (add/sub/mul/div): add
Enter first number: 2.87
Enter second number: 2.23
Result: 5.1

Lambda examples

In [50]:
#Reverse a string
reverse_string = lambda s: s[::-1]
print(reverse_string("python"))

nohtyp

In [57]:
numbers = [10, 20, 30, 40, 50]
find_num = lambda lst, num: next((x for x in lst if x == num), None)
print(find_num(numbers, 30))
print(find_num(numbers, 20))

30
20