<a href="https://colab.research.google.com/github/jaunty009/Assignment_3/blob/main/april3rd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#multiplication
numbers = [5,6,7,8]
result = 1
for num in numbers:
    result = result * num
print(result)

1680

In [ ]:
#addition
numbers = [10,20,25,30,40,50]
total = sum(numbers)
print("sum of the total",total)

sum of the total 175

In [ ]:
#maximum number in the list
numbers = [10,25,82,76,65,43,99,51]
larg_numb = max(numbers)
print(larg_numb)

99

In [ ]:
#get smallest number in the list
numbers =[23,55,76,92,7.5,87,65]
small_numb = min(numbers)
print("smallest number in the list:",small_numb)

smallest number in the list: 7.5

In [ ]:
#count strings with same start and end
words = ['abc','xyz','aba','1221']
count = 0
for word in words:
  if(len(word)) >= 2 and word[0] == word[-1]:
    count += 1
print(count)

2

In [ ]:
num1 = float(input("enter a number:"))
operator = input("+, -, *, /, %, **, // ")
num2 = float(input("enter a number:"))
if operator == "+":
  print(num1 + num2)
elif operator == "-":
  print(num1 - num2)
elif operator == "*":
  print(num1 * num2)
elif operator == "/":
  print(num1 / num2)
elif operator == "%":
  print(num1 % num2)
elif operator == "**":
  print(num1 ** num2)
elif operator == "//":
  print(num1 // num2)
else:
  print("invalid operator")

enter a number:7