<a href="https://colab.research.google.com/github/jaunty009/Assignment_3/blob/main/data1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import sqlite3


conn = sqlite3.connect("school.db",  timeout=10)
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        roll_no INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        address TEXT NOT NULL,
        section TEXT NOT NULL
    )
''')

In [ ]:
cursor.execute('select * from students')

school = {1: {"roll_no" : 101 , "name" : "ravi" , "address" : "10th ln " , "section" : "A"},
          2: {"roll_no" : 102 , "name" : "sunny" , "address" : "11th ln" , "section" : "A"},
         
          4: {"roll_no" : 104 , "name" : "funny" , "address" : "13th ln" , "section" : "A"},
          5: {"roll_no" : 105 , "name" : "nanni" , "address" : "14th ln" , "section" : "A"},
          6: {"roll_no" : 106 , "name" : "munni" , "address" : "15th ln" , "section" : "A"},
          7: {"roll_no" : 107 , "name" : "nani" , "address" : "16th ln" , "section" : "A"},
          8: {"roll_no" : 108 , "name" : "benny" , "address" : "17th ln" , "section" : "A"},
          9: {"roll_no" : 109 , "name" : "chinni" , "address" : "18th ln" , "section" : "A"},
         10: {"roll_no" : 110 , "name" : "kanni" , "address" : "19th ln" , "section" : "A"},
         11: {"roll_no" : 111 , "name" : "danny" , "address" : "20thln" , "section" : "A"},
         12: {"roll_no" : 112 , "name" : "manny" , "address" : "21st ln" , "section" : "A"},
         13: {"roll_no" : 113 , "name" : "gunny" , "address" : "22nd ln" , "section" : "A"},
         14: {"roll_no" : 114 , "name" : "ranny" , "address" : "23rd ln" , "section" : "A"},
         15: {"roll_no" : 115 , "name" : "unnie" , "address" : "24th ln" , "section" : "A"},
         16: {"roll_no" : 116 , "name" : "lanny" , "address" : "25th ln" , "section" : "A"},
         17: {"roll_no" : 117 , "name" : "wanny" , "address" : "26th ln" , "section" : "A"},
         18: {"roll_no" : 118 , "name" : "kanny" , "address" : "27th ln" , "section" : "A"},
         19: {"roll_no" : 119 , "name" : "tanny" , "address" : "28th ln" , "section" : "A"},
         20: {"roll_no" : 120 , "name" : "tunny" , "address" : "29th ln" , "section" : "A"},
         21: {"roll_no" : 121 , "name" : "annie" , "address" : "30th ln" , "section" : "A"},
         22: {"roll_no" : 122 , "name" : "joney" , "address" : "31st ln" , "section" : "A"},
         23: {"roll_no" : 123 , "name" : "banny" , "address" : "32nd ln" , "section" : "A"},
         24: {"roll_no" : 124 , "name" : "vanny" , "address" : "33rd ln" , "section" : "A"},
         25: {"roll_no" : 125 , "name" : "lanny" , "address" : "34th ln" , "section" : "A"},
         26: {"roll_no" : 126 , "name" : "panny" , "address" : "35th ln" , "section" : "A"},
         27: {"roll_no" : 127 , "name" : "wunny" , "address" : "36th ln" , "section" : "A"},
         28: {"roll_no" : 128 , "name" : "runny" , "address" : "37th ln" , "section" : "A"},
         29: {"roll_no" : 129 , "name" : "munny" , "address" : "38th ln" , "section" : "A"},
         30: {"roll_no" : 130 , "name" : "lunny" , "address" : "39th ln" , "section" : "A"},
         31: {"roll_no" : 131 , "name" : "junny" , "address" : "40th ln" , "section" : "A"},
         32: {"roll_no" : 132 , "name" : "nunny" , "address" : "41st ln" , "section" : "A"},
         33: {"roll_no" : 133 , "name" : "chiku" , "address" : "42nd ln" , "section" : "A"},
         34: {"roll_no" : 134 , "name" : "pinku" , "address" : "43rd ln" , "section" : "A"},
         35: {"roll_no" : 135 , "name" : "miku" , "address" : "44th ln" , "section" : "A"},
         36: {"roll_no" : 136 , "name" : "niku" , "address" : "45th ln" , "section" : "A"},
         37: {"roll_no" : 137 , "name" : "tinku" , "address" : "46th ln" , "section" : "A"}
          }
for key, value in school.items():
        cursor.execute('''
        INSERT INTO students (roll_no, name, address, section)
        VALUES (:roll_no, :name, :address, :section)
    ''', value)

conn.commit()
cursor.execute('SELECT * FROM students')
print(f"Inserted {len(cursor.fetchall())} records")
conn.close()
print("Data insertedÂ successfully!")

In [4]:
conn = sqlite3.connect('school.db')

NameError: name 'sqlite3' is not defined

In [3]:
cursor = conn.cursor()

NameError: name 'conn' is not defined

In [12]:
cursor.execute('select * from students')
row = cursor.fetchone()
rows = cursor.fetchall()
for row in rows:
  print(row)

In [60]:
cursor.execute('select * from students')
rows = cursor.fetchall()
for row in rows:
  print(row)

(100, 'candy', '100th ln', 'A')
(101, 'mandy', '101th ln', 'A')
(102, 'landy', '102th ln', 'A')
(103, 'bandy', '1003th ln', 'A')
(104, 'randy', '102th ln', 'A')
(105, 'tandy', '104th ln', 'A')
(106, 'qandy', '105th ln', 'A')
(107, 'sandy', '106th ln', 'A')
(108, 'yandy', '107th ln', 'A')

In [26]:
cursor.execute("INSERT INTO students(roll_no, name, address, section) VALUES(?,?,?,?)", (202, "don", "102th ln", "A"))
cursor.execute("INSERT INTO students(roll_no, name, address, section) VALUES(?,?,?,?)", (203, "moon", "103th ln", "A"))
cursor.execute("INSERT INTO students(roll_no, name, address, section) VALUES(?,?,?,?)", (204, "sun", "104th ln", "A"))
cursor.execute("INSERT INTO students(roll_no, name, address, section) VALUES(?,?,?,?)", (205, "noon", "105th ln", "A"))
cursor.execute("INSERT INTO students(roll_no, name, address, section) VALUES(?,?,?,?)", (206, "bon", "106th ln", "A"))
cursor.execute("INSERT INTO students(roll_no, name, address, section) VALUES(?,?,?,?)", (207, "lon", "107th ln", "A"))
cursor.execute("INSERT INTO students(roll_no, name, address, section) VALUES(?,?,?,?)", (103, "lan", "2003th ln", "A"))

IntegrityError: UNIQUE constraint failed: students.roll_no

In [24]:
cursor.execute("DELETE FROM students WHERE roll_no = ?", (203,))

In [27]:
cursor.execute("INSERT INTO students(roll_no, name, address, section) VALUES(?,?,?,?)", (103, "man", "1003th ln", "A"))

In [30]:
cursor.execute("UPDATE students SET roll_no = ? where roll_no = ?", (104, 202))

In [57]:
for i in range(105,109):
 for j in range(204,208):
   dict1 = {204 : 105, 205 : 106, 206 : 107, 207 : 108}

for key, value in dict1.items():
  cursor.execute("UPDATE students SET roll_no = ? where roll_no = ?", (value, key))

In [59]:
dict2 = {100 : "candy", 101 : "mandy", 102 : "landy" , 103 : "bandy" , 104 : "randy" , 105 : "tandy" , 106 : "qandy" , 107 : "sandy" , 108 : "yandy"}
for key, value in dict2.items():
  cursor.execute("UPDATE students SET name = ? where roll_no = ?", (value, key))