<a href="https://colab.research.google.com/github/jaunty009/Assignment_3/blob/main/importantfile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write an if statement that prints "Positive number" if a variable x is greater than 0

In [ ]:
a = float(input("Enter a number: "))
if a > 0:
  print("positive number")
elif a < 0: # basically we dont need to use this step. but this is for my understanding purpose
    print("negative number")
else:
    print("zero")

Enter a number: -27
negative number

Even or Odd

In [ ]:
a = int(input("Enter a number: "))
if a % 2 == 0:
  print("Even number")
else:
 if a % 2 != 0:
   print("Odd number")

Enter a number: -24
Even number

Simple String Match

In [ ]:
a = int(input("Enter a string: "))
if a == (""):
  print("please fill the manidatory field")
else:
  print("Hello"  , a)

Enter a string: 24
Hello 24

Greater Number

In [ ]:
a = int(input("Enter a number: "))
b = int(input("Enter a number: "))
if a > b:
  print(a, "is great")
else:
  if b > a:
   print(b, "is great")

Enter a number: 6
Enter a number: 26
26 is great

If-Elif-Else Ladder
Below 0: "Freezing"

0–20: "Cold"

21–30: "Warm"

Above 30: "Hot"

In [ ]:
a = float(input("Enter a number: "))
if 0 <= a <= 20:
  print("Cold")
elif 21 <= a <= 30:
  print("Warm")
else:
   if a > 30:
    print("Hot")

Enter a number: 21
Warm

Pass or Fail
Ask the user to input their test score. If it’s 50 or higher, print "Pass", else "Fail"

In [ ]:
a = float(input("Enter a number: "))
if a >= 50:
  print("Pass")
else:            #if a < 50:
   print("Fail")

Enter a number: 50
Pass

String Contains Check
Check if the string "python" is found inside a user's input sentence

In [ ]:
a = input("Enter a string: ")
b = "python"
print(a.find(b))
if a.find(b) >= 0:
  print("found")
else:
  print("not found")

Enter a string: we are in class
-1
not found

Multiple Conditions with and
Ask for age and citizenship status. If the user is over 18 and a citizen, print "Eligible to vote".

In [ ]:
a = int(input("Enter your age: "))
b = input("Enter your citizenship status: ")
if a > 18 and b == "permanent":
  print("Eligible to vote")
else:
  print("Not eligible to vote")

Enter your age: 24
Enter your citizenship status: permanent citizen
Not eligible to vote

Multiple Conditions with or
Ask for a user's age. If they are younger than 13 or older than 65, print "Discount eligible".

In [ ]:
a = int(input("Enter your age: "))
if a <= 13 or a >= 65:
  print("eligible for discount")
else:
  print("Not eligible for discount")

Enter your age: 65
eligible for discount

Nested If
Check if a number is positive. If it is, check if it is also even.

In [ ]:
a = int(input("Enter a number: "))
if a > 0:
  if a % 2 == 0:
    print("even")
  else:
    print("odd")
else:
  print("negative")

Enter a number: -23
negative

Empty List Check
If a list is empty, print "List is empty"; otherwise, print the number of items

In [ ]:
a = input("Enter a number: ")
if len(a) == 0:
  print("list is empty")
else:
  print(len(a))

Enter a number:
list is empty

Truthy Values
Use if to check if a string variable is not empty, and print its value

In [ ]:
a = input("Enter a string: ")
if a != "":
  print(a)
else:
  print("empty")

Enter a string: 24
24


Use if expression to assign "Adult" or "Minor" based on a user's age

In [ ]:
a = int(input("Enter your age: "))
if a >= 18:
  print("Major")
else:
  print("Minor")
# Need to take explanation on terinary operator.

Enter your age: 24
Major

Divisibility Check
Ask for a number and print:

"Divisible by both 3 and 5"

"Divisible by 3"

"Divisible by 5"

Or "Not divisible by 3 or 5"

In [ ]:
a = int(input("Enter a number: "))
if a % 3 == 0 and a % 5 == 0:
  print("Divisible by both 3 and 5")
elif a % 3 == 0:
  print("Divisible by 3")
elif a % 5 == 0:
  print("Divisible by 5")
else:
  print("Not divisible by 3 or 5")

Enter a number: 27
Divisible by 3

Grade Classification
Ask for a numeric grade and use if-elif-else to classify it:

90–100: A

80–89: B

70–79: C

60–69: D

Below 60: F

In [ ]:
a = int(input("Enter a number: "))
if 90 <= a <= 100:
  print("A")
elif 80 <= a <= 89:
  print("B")
elif 70 <= a <= 79:
  print("C")
elif 60 <= a <= 69:
  print("D")
elif a < 65 :
  print("F")
else:
  print("Invalid input")

Enter a number: 102
Invalid input

**FOR loop **

Print Numbers from 1 to 10
Use a for loop to print numbers from 1 to 10.

In [ ]:
a = (1,2,3,4,5,6,7,8,9,10)
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

Iterate Through a List
Given a list fruits = ["apple", "banana", "cherry"], use a for loop to print each fruit.

In [ ]:
a = ["apple", "banana", "cherry"]
for fruits in a:
  print(fruits)

apple
banana
cherry

Sum of Numbers
Use a for loop to calculate the sum of numbers from 1 to 100.

In [ ]:
a = int(input("Enter a number: "))
result = 0
for i in range(1, a + 1):
    result += i
print("The sum of all numbers is:", sum)

Enter a number: 100
The sum of all numbers is: 5050

Print Each Character
Use a for loop to print each character in the string "Python".

In [ ]:
a = "python"
for i in a:
  print(i)

p
y
t
h
o
n

Even Numbers Only
Use a for loop to print all even numbers between 1 and 20

In [ ]:
a = int(input("Enter a number: "))
for i in range(1, a + 1):
  if i % 2 == 0:
    print(i)

Enter a number: 20
2
4
6
8
10
12
14
16
18
20

Loop Through Dictionary
Given a dictionary {"name": "Alice", "age": 25}, use a for loop to print each key and value.

In [ ]:
i = {"name": "jaunty", "age": 30 ,"city": "youngstown"}
for key, value in i.items():
  print(key,":",value)

name : jaunty
age : 30
city : youngstown

Nested Loops (Multiplication Table)
Use nested for loops to print a multiplication table from 1 to 5.

In [ ]:
a = int(input("Enter a number: "))
for i in range(1, a + 1):
    for j in range(1, 10+ 1):
        print(i, "x", j, "=", i * j)

Enter a number: 4
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40


Loop with Range and Step
Use a for loop with range() to print numbers from 10 to 1 in reverse order

In [ ]:
a = int(input("Enter a number: "))
for i in range(a, 0, -1):
  print(i)

Enter a number: 10
10
9
8
7
6
5
4
3
2
1

pasword generator project
## 12 digit password"  -> step 1

## 12 digit password minimum 1 digit  -> step2

## 12 digit password minimum 1 digit, special character check(Hint: ascill)-> step3

##12 digit password minimum 1 digit,minimum 1 Upper case, special character check(Hint: ascill)-> step3

In [ ]:
name = input("enter your name")
password = input("enter your password")

if len(password) == 12:
  print("password is valid")
else:
  print("invalid password")

enter your namejaunty
enter your passwordjauntysunpil
password is valid

In [ ]:
name = input("enter your name")

password = input("enter your password")

if len(password) == 12:
  if password.isalnum():
    print("password is valid")
  else:
    print("atleast one int should be given")
else:
  print("invalid password")

enter your namejauntysun
enter your passwordjauntysun009
password is valid

without using ascii

In [ ]:
name = input("enter your name")

password = input("enter your password")

if len(password) == 12:
  if any(password.isalnum()):
    if any(password.isupper()):
      print("password is valid")
    else:
      print("atleast one capital letter should be given")
  else:
    print("atleast one int should be given")
else:
  print("invalid password")

enter your namejaunty
enter your passwordJauntysun009

TypeError: 'bool' object is not iterable

In [14]:
name = input("enter your name")

password = input("enter your password")

if len(password) == 12:
  if any(c.isdigit() for c in password):
    if any(c.isupper() for c in password):
      if any(c.islower() for c in password):
        print("password is valid")
      else:
        print("atleast one small letter should be given")
    else:
      print("atleast one capital letter should be given")
  else:
    print("atleast one int should be given")
else:
  print("invalid password")

enter your namejaunty
enter your passwordPaulwalker$9
password is valid

In [ ]:
password = input("enter your password: ")
if any(c.isupper() for c in password):
  print("password is valid")
else:
  print("atleast one capital letter should be given")

In [ ]:
password = input("enter your password: ")
for c in password:
 if c.isupper():
  print("password is valid")
 else:
   print ("letter should be given")

using ascii

In [9]:
name = input("enter your name")

password = input("enter your password")

if len(password) == 12:
  if any(48 <= ord(c) <= 57 for c in password):
    if any(65 <= ord(c) <= 90 for c in password):
      if any(97 <= ord(c) <= 122 for c in password):
        if any(33 <= ord(c) <= 47 or 58 <= ord(c) <= 64 or 91 <= ord(c) <= 96 for c in password):
          print("password is valid")
        else:
          print("atleast one special character should be given")
      else:
        print("atleast one small letter should be given")
    else:
      print("atleast one capital letter should be given")
  else:
    print("atleast one int should be given")
else:
  print("invalid password")

enter your namejaunty
enter your passwordPaulwalker$9
password is valid

In [17]:
import random

user = input("Enter your name: ")
total = 0

for turns in range(1, 21):
    print(input("press Enter to roll the die..."))
    roll = random.randint(1, 6)
    total += roll
    print("You rolled: {roll} | Total: {total} | Turns: {turns}")
    if total >= 20:
        break

print("{user} won in {turns} turns!")

Enter your name:
press Enter to roll the die...

You rolled: {roll} | Total: {total} | Turns: {turns}
press Enter to roll the die...

You rolled: {roll} | Total: {total} | Turns: {turns}
press Enter to roll the die...

You rolled: {roll} | Total: {total} | Turns: {turns}
press Enter to roll the die...

You rolled: {roll} | Total: {total} | Turns: {turns}
press Enter to roll the die...

You rolled: {roll} | Total: {total} | Turns: {turns}
{user} won in {turns} turns!

In [26]:


#1 user 20limit, how many turns it takes to reach 20.  -> for loop
import random

user = input("Enter your name: ")
total = 0
for turns in range(1, 21):
    input("press Enter to roll the die...")
    roll = random.randint(1, 6)
    total += roll
    print(f"You rolled: {roll} | Total: {total} | Turns: {turns}")
    if total >= 20:
        break
print(f"\n{user} won in {turns} turns!")

Enter your name: j
press Enter to roll the die...
You rolled: 6 | Total: 6 | Turns: 1
press Enter to roll the die...
You rolled: 3 | Total: 9 | Turns: 2
press Enter to roll the die...
You rolled: 3 | Total: 12 | Turns: 3
press Enter to roll the die...
You rolled: 4 | Total: 16 | Turns: 4
press Enter to roll the die...
You rolled: 6 | Total: 22 | Turns: 5

j won in 5 turns!

In [ ]:
import random
user1 = input("Player 1 name: ")
user2 = input("Player 2 name: ")
total1 = 0
total2 = 0

for turn in range(1, 21):

    input(f"{user1}, press Enter to roll...")
    roll = random.randint(1, 6)
    total1 += roll
    print(f"rolled: {roll} | Total: {total1}")
    if total1 >= 20:
       print(f"\n{user1} won in {turn} turns!")
       break

    input(f"{user2}, press Enter to roll...")
    roll = random.randint(1, 6)
    total2 += roll
    print(f"rolled: {roll} | Total: {total2}")
    if total2 >= 20:
        print(f"\n{user2} won in {turn} turns!")
        break

Player 1 name: j
Player 2 name: k
j, press Enter to roll...
rolled: 4 | Total: 4
k, press Enter to roll...
rolled: 5 | Total: 5
j, press Enter to roll...
rolled: 4 | Total: 8
k, press Enter to roll...
rolled: 2 | Total: 7
j, press Enter to roll...
rolled: 6 | Total: 14
k, press Enter to roll...
rolled: 1 | Total: 8
j, press Enter to roll...
rolled: 1 | Total: 15
k, press Enter to roll...
rolled: 3 | Total: 11
j, press Enter to roll...
rolled: 5 | Total: 20

j won in 5 turns!

In [22]:
import random

user1 = input("Enter your name: ")
user2 = input("Enter your name: ")
total1 = 0
total2 = 0

for turns in range(1, 21):

    input(f"{user1}, press Enter to roll the die...")
    roll = random.randint(1, 6)
    total1 += roll
    print(f"You rolled: {roll} | Total: {total1} | Turns: {turns}")
    if total1 >= 20:
        break
print(f"\n{user1} won in {turns} turns!")


for turns in range(1, 21):
    input(f"{user2}, press Enter to roll the die...")
    roll = random.randint(1, 6)
    total2 += roll
    print(f"You rolled: {roll} | Total: {total2} | Turns: {turns}")
    if total2 >= 20:
      break
print(f"\n{user2} won in {turns} turns!")

Enter your name: k
Enter your name: j
k, press Enter to roll the die...
You rolled: 5 | Total: 5 | Turns: 1
k, press Enter to roll the die...
You rolled: 6 | Total: 11 | Turns: 2
k, press Enter to roll the die...
You rolled: 2 | Total: 13 | Turns: 3
k, press Enter to roll the die...
You rolled: 1 | Total: 14 | Turns: 4
k, press Enter to roll the die...
You rolled: 1 | Total: 15 | Turns: 5
k, press Enter to roll the die...
You rolled: 3 | Total: 18 | Turns: 6
k, press Enter to roll the die...
You rolled: 6 | Total: 24 | Turns: 7

k won in 7 turns!
j, press Enter to roll the die...
You rolled: 6 | Total: 6 | Turns: 1
j, press Enter to roll the die...
You rolled: 1 | Total: 7 | Turns: 2
j, press Enter to roll the die...
You rolled: 1 | Total: 8 | Turns: 3
j, press Enter to roll the die...
You rolled: 2 | Total: 10 | Turns: 4
j, press Enter to roll the die...
You rolled: 2 | Total: 12 | Turns: 5
j, press Enter to roll the die...
You rolled: 4 | Total: 16 | Turns: 6
j, press Enter to roll the die...
You rolled: 6 | Total: 22 | Turns: 7

j won in 7 turns!

** *programs* on inbuilt functions using dict**

---

Create a dictionary with at least 3 key-value pairs. Use print() along with keys() and values() to display all keys and values.

In [32]:
my_dict = {"name": "jaunty", "age": 30, "city": "vice city"}
print("keys:", my_dict.keys())
print("values:", my_dict.values())

keys: dict_keys(['name', 'age', 'city'])
values: dict_values(['jaunty', 30, 'vice city'])

Here's a simpler version of the program that checks if a key exists in a dictionary using the get() method:

In [16]:
my_dict = {'a': "party", 'b': 2025, 'c': "dice"}

key = input("Enter a key: ")

if my_dict.get(key) != 0:
    print("valid key")
else:
    print("invalid Key")

Enter a key: a
valid key

Write a program to add a new key-value pair to an existing dictionary using update()

In [20]:
my_dict = {'a': "party", 'b': 2025, 'c': "dice"}
my_dict.update({"d": "hello"})
print(my_dict)

{'a': 'party', 'b': 2025, 'c': 'dice', 'd': 'hello'}

Use fromkeys() to create a dictionary with 3 keys ('a', 'b', 'c') and assign the same value (0) to all.

In [24]:
keys = ['a', 'b', 'c']
value = 0
my_dict = dict.fromkeys(keys, value)

print(my_dict)

{'a': 0, 'b': 0, 'c': 0}


Write a program to remove a specific key from a dictionary using the pop() method

In [27]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_dict.pop('b')
print(my_dict)

{'a': 1, 'c': 3}

Create a dictionary and print each key and value using a for loop and the items() method

In [35]:
my_dict = {'first name': "sachin", 'mid name': "ramesh", 'last name': "tendulkar"}
for key, value in my_dict.items():
    print(key,":", value)

first name : sachin
mid name : ramesh
last name : tendulkar

Write a program to create a dictionary where the keys are numbers from 1 to 5 and the values are their squares.

In [42]:
my_dict = {1: 1 ,  20 , 3 , 4}
for "key", "value" in my_dict():
  print(i,":", i**2)

1 : 1
3 : 9
20 : 400
4 : 16

Use setdefault() to add a key with a default value if it is not already in the dictionary. Print the dictionary before and after.

In [40]:
need explanation on setdefault

SyntaxError: invalid syntax (<ipython-input-40-f1d61be4c522>, line 1)

Write a program to copy a dictionary using the copy() method and show that changes to one don’t affect the other.

In [45]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
new_dict= {"name": "jaunty", "age": 30, "city": "vice city"}
new_dict = my_dict.copy()
print(new_dict)

{'a': 1, 'b': 2, 'c': 3}

**list inbuilt functions**

Create a list of 5 integers and print the length of the list using len().

In [46]:
a = [1, 2, 3, 4, 5]
print(len(a))

5

Write a program to append an element to the end of a list using the append() method.

In [47]:
b = [1, 2, 3, 4, 5]
b.append(6)
print(b)

[1, 2, 3, 4, 5, 6]

Write a program to insert an element at a specific position in the list using insert().

In [48]:
c = [1, 2, 3, 4, 5]
c.insert(3, 6)
print(c)

[1, 2, 3, 6, 4, 5]

Remove a specific element from the list using the remove() method.

In [49]:
d = [1, 2, 3, 4, 5]
d.remove(3)
print(d)

[1, 2, 4, 5]

Use pop() to remove the last item from a list and print the item and the updated list.

In [52]:
e = [11, 2, 3, 4, 7]
e.pop(0)
print(e)

[2, 3, 4, 7]

Use index() to find the index of a specific element in a list.

In [57]:
f = [1, 27, 5, 39]

print(f.index(27))

1

Write a program to count how many times a specific value appears in a list using count().

In [59]:
g = [1, 3, 5, 3, 7, 3, 9]
print(g.count(3))

3