<a href="https://colab.research.google.com/github/jaunty009/Assignment_3/blob/main/python32425.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
starting_point = int(input("Enter the starting point: "))
ending_point = int(input("Enter the ending point: "))
print("The even numbers between", starting_point, ending_point)
for x in range(starting_point, ending_point + 1 ):
    if x % 2 == 0:
        print(x)

Enter the starting point: 2
Enter the ending point: 72
The even numbers between 2 72
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72

In [28]:
num = float(input("Enter the number: "))
if num > 0:
  print("The number is positive")
elif num < 0:
  print("The number is negative")
elif num == 0:
  print("The number is zero")

Enter the number: 0
The number is zero

In [31]:
numbers = [
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 743, 527
]

for x in numbers:
    if x == 237:
        break;
    if x % 2 == 0:
        print(x)

386
462
418
344
236
566
978
328
162
758
918

In [63]:

for i in range(1, 5+1):
    for j in range(1, i+1):
          print("*", end=(' ') )

    print()

*
* *
* * *
* * * *
* * * * *

In [74]:
numbers = [
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 743, 527
]

found_237 = False
for x in numbers:
    if x == 237:
        found_237 = True
        continue
    if found_237 and x % 2 == 0:
        print(x)

412
566
826
248
866
950
626
104
58
512
24
892
894
742
958

In [76]:
X = 5
while X < 8:
  print(X)
  X += 1

5
6
7