<a href="https://colab.research.google.com/github/jaunty009/Assignment_3/blob/main/python32425.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
starting_point = int(input("Enter the starting point: "))
ending_point = int(input("Enter the ending point: "))
print("The even numbers between", starting_point, ending_point)
for num in range(starting_point, ending_point + 1 ):
    if num % 2 == 0:
        print(num)

Enter the starting point: 43
Enter the ending point: 84
The even numbers between 43 84
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84

In [ ]:
num = float(input("Enter the number: "))
if num > 0:
  print("The number is positive")
elif num < 0:
  print("The number is negative")
elif num == 0:
  print("The number is zero")

Enter the number: -24
The number is negative

In [16]:
numbers = [
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 743, 527
]

for num in numbers:
    if num == 237:
        break;
    if num % 2 == 0:
        print(num)

386
462
418
344
236
566
978
328
162
758
918

In [11]:
row = 5
for i in range(1, row + 1):
    for j in range(1, i + 1):
        print("*", end=' ')
    print('')

*
* *
* * *
* * * *
* * * * *