<a href="https://colab.research.google.com/github/jaunty009/Assignment_3/blob/main/python32625.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

python program for factorial

In [28]:
numb = int(input("enter the number"))
factorial=1
if numb < 0:
  print("factorial does not have negative numbers")
elif numb == 0:
  print("factorial of 0 is 1")
else:
  for i in range(1,numb+1):
        factorial = factorial*i
  print("the factorial of",numb,"is",factorial)

enter the number24
the factorial of 24 is 620448401733239439360000

In [29]:
n = int(input("enter the number"))
print("The Multiplication Table: ")
for i in range(1,10+1):
  print(n,"x",i,"=",n*i)

enter the number10
The Multiplication Table:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [43]:
num = int(input("enter the number"))
for i in range(2,num):
  if num % i == 0:
    print("not prime")
    break
else:
    print("prime")

enter the number7
prime