<a href="https://colab.research.google.com/github/jaunty009/Assignment_3/blob/main/tupleconcept1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

üß† 1. Tuple Concatenation
Q: Given two tuples a = (1, 2, 3) and b = (4, 5), combine them into one tuple.

In [ ]:
a = (1, 2, 3)
b = (4, 5)
combined_tuple = tuple(a+b)
print(combined_tuple)

(1, 2, 3, 4, 5)

üîÅ 2. Repeating Elements
Q: Given a tuple a = (10, 20), repeat the elements 3 times.

In [ ]:
a = (10, 20)
repeated_tuple = a*3
print(repeated_tuple)

(10, 20, 10, 20, 10, 20)

üî¢ 3. Slicing a Tuple
Q: Given t = (5, 10, 15, 20, 25), get a sub-tuple from index 1 to 3 (inclusive of 1, exclusive of 4).

In [ ]:
t = (5, 10, 15, 20, 25)
sub_tuple = t[1:3]
print(sub_tuple)

(10, 15)

üéØ 4. Find Maximum and Minimum
Q: Given nums = (3, 7, 1, 9, 4), find the maximum and minimum values.

In [ ]:
t = (3, 7, 1, 9, 4)
max_value = max(t)
print(max_value)
min_value = min(t)
print(min_value)

9
1

üîç 5. Search for an Element
Q: Check if the number 7 exists in the tuple nums.

In [ ]:
t = (1, 3, 5, 7)
if 7 in t:
    print("7 is in the tuple")
else:
    print("7 is not in the tuple")

7 is in the tuple

üîÑ 6. Swap Tuples
Q: Given a = (1, 2) and b = (3, 4), swap their values.

In [ ]:
a = (1, 2)
b = (3, 4)
a, b = b, a
print('a', ':', a)
print('b', ':', b)

a : (3, 4)
b : (1, 2)

üîÅ 7. Convert List to Tuple
Q: Convert the list l = [10, 20, 30] to a tuple.

In [ ]:
l = [10, 20, 30]
t = tuple(l)
print(t)

(10, 20, 30)

üì¶ 8. Unpack a Tuple
Q: Unpack the tuple t = (1, 2, 3) into variables a, b, and c.

In [ ]:
t = (1, 2, 3)
a, b, c = t
print('a', '=', a)
print('b', '=', b)
print('c', '=', c)

a = 1
b = 2
c = 3


üîÄ 9. Sort Elements in a Tuple
Q: Sort the tuple t = (5, 2, 8, 1) in ascending order.

In [ ]:
t = (5, 2, 8, 1)
sorted_tuple = tuple(sorted(t))
print(sorted_tuple)

(1, 2, 5, 8)

üßÆ 10. Tuple with Mixed Data Types
Q: Create a tuple with different data types: an integer, a string, a float, and a boolean.

In [ ]:
t = (1, "jagan", 5.4, "yes")
for mixed_tuple in t:
    print(mixed_tuple)

1
jagan
5.4
yes