<a href="https://colab.research.google.com/github/jaunty009/Assignment_3/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write an if statement that prints "Positive number" if a variable x is greater than 0

In [ ]:
a = float(input("Enter a number: "))
if a > 0:
  print("positive number")
elif a < 0: # basically we dont need to use this step. but this is for my understanding purpose
    print("negative number")
else:
    print("zero")

Enter a number: -27
negative number

Even or Odd

In [ ]:
a = int(input("Enter a number: "))
if a % 2 == 0:
  print("Even number")
else:
 if a % 2 != 0:
   print("Odd number")

Enter a number: -24
Even number

Simple String Match

In [ ]:
a = int(input("Enter a string: "))
if a == (""):
  print("please fill the manidatory field")
else:
  print("Hello"  , a)

Enter a string: 24
Hello 24

Greater Number

In [ ]:
a = int(input("Enter a number: "))
b = int(input("Enter a number: "))
if a > b:
  print(a, "is great")
else:
  if b > a:
   print(b, "is great")

Enter a number: 6
Enter a number: 26
26 is great

If-Elif-Else Ladder
Below 0: "Freezing"

0–20: "Cold"

21–30: "Warm"

Above 30: "Hot"

In [ ]:
a = float(input("Enter a number: "))
if 0 <= a <= 20:
  print("Cold")
elif 21 <= a <= 30:
  print("Warm")
else:
   if a > 30:
    print("Hot")

Enter a number: 21
Warm

Pass or Fail
Ask the user to input their test score. If it’s 50 or higher, print "Pass", else "Fail"

In [ ]:
a = float(input("Enter a number: "))
if a >= 50:
  print("Pass")
else:            #if a < 50:
   print("Fail")

Enter a number: 50
Pass

String Contains Check
Check if the string "python" is found inside a user's input sentence

In [ ]:
a = input("Enter a string: ")
b = "python"
print(a.find(b))
if a.find(b) >= 0:
  print("found")
else:
  print("not found")

Enter a string: we are in class
-1
not found

Multiple Conditions with and
Ask for age and citizenship status. If the user is over 18 and a citizen, print "Eligible to vote".

In [ ]:
a = int(input("Enter your age: "))
b = input("Enter your citizenship status: ")
if a > 18 and b == "permanent":
  print("Eligible to vote")
else:
  print("Not eligible to vote")

Enter your age: 24
Enter your citizenship status: permanent citizen
Not eligible to vote

Multiple Conditions with or
Ask for a user's age. If they are younger than 13 or older than 65, print "Discount eligible".

In [ ]:
a = int(input("Enter your age: "))
if a <= 13 or a >= 65:
  print("eligible for discount")
else:
  print("Not eligible for discount")

Enter your age: 65
eligible for discount

Nested If
Check if a number is positive. If it is, check if it is also even.

In [ ]:
a = int(input("Enter a number: "))
if a > 0:
  if a % 2 == 0:
    print("even")
  else:
    print("odd")
else:
  print("negative")

Enter a number: -23
negative

Empty List Check
If a list is empty, print "List is empty"; otherwise, print the number of items

In [ ]:
a = input("Enter a number: ")
if len(a) == 0:
  print("list is empty")
else:
  print(len(a))

Enter a number:
list is empty

Truthy Values
Use if to check if a string variable is not empty, and print its value

In [ ]:
a = input("Enter a string: ")
if a != "":
  print(a)
else:
  print("empty")

Enter a string: 24
24


Use if expression to assign "Adult" or "Minor" based on a user's age

In [ ]:
a = int(input("Enter your age: "))
if a >= 18:
  print("Major")
else:
  print("Minor")
# Need to take explanation on terinary operator.

Enter your age: 24
Major

Divisibility Check
Ask for a number and print:

"Divisible by both 3 and 5"

"Divisible by 3"

"Divisible by 5"

Or "Not divisible by 3 or 5"

In [ ]:
a = int(input("Enter a number: "))
if a % 3 == 0 and a % 5 == 0:
  print("Divisible by both 3 and 5")
elif a % 3 == 0:
  print("Divisible by 3")
elif a % 5 == 0:
  print("Divisible by 5")
else:
  print("Not divisible by 3 or 5")

Enter a number: 27
Divisible by 3

Grade Classification
Ask for a numeric grade and use if-elif-else to classify it:

90–100: A

80–89: B

70–79: C

60–69: D

Below 60: F

In [ ]:
a = int(input("Enter a number: "))
if 90 <= a <= 100:
  print("A")
elif 80 <= a <= 89:
  print("B")
elif 70 <= a <= 79:
  print("C")
elif 60 <= a <= 69:
  print("D")
elif a < 65 :
  print("F")
else:
  print("Invalid input")

Enter a number: 102
Invalid input

**FOR loop **

Print Numbers from 1 to 10
Use a for loop to print numbers from 1 to 10.

In [ ]:
a = (1,2,3,4,5,6,7,8,9,10)
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

Iterate Through a List
Given a list fruits = ["apple", "banana", "cherry"], use a for loop to print each fruit.

In [ ]:
a = ["apple", "banana", "cherry"]
for fruits in a:
  print(fruits)

apple
banana
cherry

Sum of Numbers
Use a for loop to calculate the sum of numbers from 1 to 100.

In [ ]:
a = int(input("Enter a number: "))
result = 0
for i in range(1, a + 1):
    result += i
print("The sum of all numbers is:", sum)

Enter a number: 100
The sum of all numbers is: 5050

Print Each Character
Use a for loop to print each character in the string "Python".

In [ ]:
a = "python"
for i in a:
  print(i)

p
y
t
h
o
n

Even Numbers Only
Use a for loop to print all even numbers between 1 and 20

In [ ]:
a = int(input("Enter a number: "))
for i in range(1, a + 1):
  if i % 2 == 0:
    print(i)

Enter a number: 20
2
4
6
8
10
12
14
16
18
20

Loop Through Dictionary
Given a dictionary {"name": "Alice", "age": 25}, use a for loop to print each key and value.

In [ ]:
i = {"name": "jaunty", "age": 30 ,"city": "youngstown"}
for key, value in i.items():
  print(key,":",value)

name : jaunty
age : 30
city : youngstown

Nested Loops (Multiplication Table)
Use nested for loops to print a multiplication table from 1 to 5.

In [ ]:
a = int(input("Enter a number: "))
for i in range(1, a + 1):
    for j in range(1, 10+ 1):
        print(i, "x", j, "=", i * j)

Enter a number: 4
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40


Loop with Range and Step
Use a for loop with range() to print numbers from 10 to 1 in reverse order

In [ ]:
a = int(input("Enter a number: "))
for i in range(a, 0, -1):
  print(i)

Enter a number: 10
10
9
8
7
6
5
4
3
2
1

pasword generator project
## 12 digit password"  -> step 1

## 12 digit password minimum 1 digit  -> step2

## 12 digit password minimum 1 digit, special character check(Hint: ascill)-> step3

##12 digit password minimum 1 digit,minimum 1 Upper case, special character check(Hint: ascill)-> step3

  to  Everyone
pasword generator project
## 12 digit password"  -> step 1

## 12 digit password minimum 1 digit  -> step2

## 12 digit password minimum 1 digit, special character check(Hint: ascill)-> step3

##12 digit password minimum 1 digit,minimum 1 Upper case, special character check(Hint: ascill)-> step3

tirumal Rao 11:23 PM
In Bagels, a deductive logic game, you must guess a secret three-digit number based on clues. The game offers one of the following hints in response to your guess: “Pico” when your guess has a correct digit in the wrong place, “Fermi” when your guess has a correct digit in the correct place, and “Bagels” if your guess has no correct digits. You have 10 tries to guess the secret number.